$lightRed: hsl(0, 100%, 67%);
$orangeYellow: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

// gradient
$blue: hsl(252, 100%, 67%);
$blueRoyal: hsl(241, 81%, 54%);

$blueViolet: hsla(256, 72%, 46%, 1);
$bluePersian: hsla(241, 72%, 46%, 0);

// neutral 
$white: hsl(0, 0%, 100%);
$bluePale: hsl(221, 100%, 96%);
$lavenderLight: hsl(241, 100%, 89%);
$blueGray: hsl(224, 30%, 27%);

$fontSize: 1.125rem;